@use "./partials/variables" as *;
@use "./partials/hype_utility" as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~bootstrap/scss/bootstrap";

h1 {
    color: $text-color;
}

/**
* Variables
$text-primary-color:
$background-secondary-color
$background-primary-color: 
$shadow-primary-color: 
*/

header {
    height: 75px;
    background-color: $background-primary-color;
    box-shadow: 2px 2px 5px $shadow-primary-color;

    .active-color {
        background-color: $background-secondary-color !important;
        //box-shadow: 2px 2px 5px black;
    }

    .window-movement {
        transform: translate(-50%, 10px) !important;
        transition: transform 0.5s;
        box-shadow: 2px 2px 2px $shadow-primary-color;
    }

    .border-opened-menu {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    #hype-custom-nav {
        position: fixed;
        top: 0;
        z-index: 1000;
        height: 75px;
        left: 50%;
        transform: translateX(-50%);
        transition: transform 0.3s ease-out;
        background-color: inherit;
        color: $text-primary-color !important;

        .img-container {
            width: 7%;
            min-width: 90px;
        }

        #hype-nav-menu {
            li {
                position: relative;
                height: 80%;
                .active {
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 10px;
                        left: 10%;
                        width: 80%;
                        height: 2px;
                        background-color: $background-tertiary-color;
                    }
                }
                a {
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 10px;
                        left: 10%;
                        width: 0%;
                        height: 2px;
                        background-color: $background-tertiary-color;
                        transition: width 0.2s ease-out;
                    }

                    &:hover::after {
                        width: 80%; /* Modifica la larghezza quando passi sopra con il mouse */
                    }
                }
            }
        }

        .user-account {
            color: white;
            background-color: inherit;

            li {
                &:hover {
                    background-color: $background-tertiary-color;
                }
            }

            .icon-container {
                width: 40px;
                height: 57.5px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: calc((75px - 40px) / 2);
            }

            .bar-input {
                top: 100%;
                left: 0%;
                background-color: inherit;
                box-shadow: 2px 2px 2px $shadow-primary-color;
            }

            .search-bar-input {
                height: 70px;
            }
        }

        button {
            &:hover {
                color: white;
            }
        }
    }
}
