$text-color: rgb(27, 112, 240);

$text-primary-color: white;
$background-tertiary-color: #6a6a6b;
$background-secondary-color: #414141;
$background-primary-color: #212529;
$shadow-primary-color: black;
